body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #4f4a4d;
}
header {
  background-color: #203277;
  font-family: 'Do Hyeon', sans-serif;
  width: 100%;
  height: 5em;
}
header h1 {
  font-size: 3.5em;
  font-family: 'Cinzel Decorative', cursive;
  color:#e0d030;
  text-shadow: 3px 3px #4f4a4d;
  display: inline;
  line-height: 1.5em;
  margin-left: 0.4em;
}
header nav {
  float: right;
}
header nav ul li {
  color: #97bcd5;
  display: inline-block;
  line-height: 3em;
  font-size: 1.7em;
  margin-right: 0.3em;
  text-shadow: 2px 2px #4f4a4d;
  transition-delay: 4ms
}

header nav ul li:hover {
  background-color: #0d1533;
}

main {
  width: 85%;
  background-color: #6385bb;
  margin: 0 auto;
}

button:hover {
  background-color: #0d1533;
}

button {
  width: 25%;
  height: 3em;
  vertical-align: top;
  margin-left: 35%;
  margin-top: 7em;
  margin-bottom: 5em;
  color: #e0d030;
  background-color: #203277;
  border-color: #203277;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 16px;
}

button:hover {
  background-color: #0d1533;
}

.sortButton {
  margin-top: 1em;
  margin-bottom: 0;
}

main h3 {
  font-size: 1.5em;
  width: fit-content;
  margin: 0 auto;
  padding-top: 2em;
  margin-bottom: 1em;
}

main section {
  text-align: center;
}

main section div {
  width: 250px;
  height: 300px;
  font-size: 0;
  display: inline-block;
  position: relative;
}

main section div img {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main div ol {
  list-style-type: decimal;
  font-size: 25px;
  color: #e0d030;
} */

main div ol img {
  width: 100px;
  height: 100px;
}

main div ol li {
  display: inline-block;
  margin-left: 20%;
}

ol > li {
  color:#e0d030;
  margin-bottom: 2em;
  font-size: 25px;
  text-shadow: 2px 2px #4f4a4d;
}

div ul > li {
  color:#4f4a4d;
  font-size: 20px;
  text-shadow: none;
  margin-top: 2em;
}

main div ol ul li {
  vertical-align: top;
  margin-left: 1em;
}

h4 {
  text-align: center;
  color:#e0d030;
  margin-top:3em;
  padding-bottom: 3em;
  font-size: 20px;

}